* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #414141;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: purple;
    margin: 40px 20px;
}

h2 {
    padding: 50px 20px 10px 20px;
    margin: 10px;
    color: red;
    background-color: #000000;
}

p {
    background-color: blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
    display: flex;
    justify-content: space-between;
}

li {
    display: inline;
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

.projects {
    padding: 2px;
    background-color: gray;
}

.grouped {
    justify-content: flex-start !important;
    flex-direction: column;
    align-items: flex-end;
}

#work-list-1 {
    color:slateblue;
}

#work-list-2 {
    color:thistle;
}

#work-list-3 {
    color:whitesmoke;
}

#work-list-4 {
    color:tomato;
}

a:hover {
    color:rosybrown;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; /* Red */
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
      background-color: #F5CF8E; /* Yellow */
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
      background-color: #B2D6FF; /* Blue */
    }
}